.wrapper {
    margin: 18px;
}
.productItem img {
    height: 200px;
    border: 2px solid gray;
}
.productDetails {
    border: 2px solid gray;
    padding: 22px;
    width: 230px;
    box-shadow: 5px 3px;
}

.addToCartButton {
    margin: 12px;
}

.addToCartButton button{
    background: #106bdb;
    height: 36px;
    color: #fff;
    font-weight: bold;
}

.addToCartButton button:hover{
    cursor: pointer;
    background: #000;
    color: #fff;
}

.cartIcon img {
    position: absolute;
    height: 50px;
    right: 25px;
}